
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title>Cores</title>
        <link rel="stylesheet" type="text/css" href="{% static 'designer/style.css' %}" />
    </head>

    <body>
        <form action="/designer/cores/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
        <h1>Cores</h1>

        <table>
            <tr>
                <th>Name</th>
                <th>Stack</th>
                <th>Lamination</th>
                <th>Stacking factor</th>
                <th>Area mm^2</th>
                <th>Mass Kg</th>
                <th>Actions</th>
            </tr>
            {% if core_list %}
            {% for core in core_list %}
            <tr>
                <td>{{ core.name }}</td>
                <td>{{ core.stack }}</td>
                <td>{{ core.laminations }}</td>
                <td>{{ core.stack_factor }}</td>
                <td>{{ core.area }}</td>
                <td>{{ core.mass }}</td>
                <td>
                    <a href="edit/{{ core.id }}">Edit</a>
                    <a href="delete/{{ core.id }}"> Delete</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </body>
</html>