{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'designer/style.css' %}" />
<form action="/designer/laminations/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<h1>Laminations</h1>
{% if laminations %}
    <table>
        <tr>
            <th>Tongue Width</th>
            <th>Width</th>
            <th>Height</th>
            <th>Window Height</th>
            <th>Windoe Width</th>
            <th>Window Area</th>
            <th>Magnetic Path length</th>
            <th>Edit/Delete</th>
        </tr>


    </table>