
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <title>Steel</title>
        <link rel="stylesheet" type="text/css" href="{% static 'designer/style.css' %}" />
    </head>

    <body>
        <form action="/designer/steel/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
        <h1>Steel</h1>

        <table>
            <tr>
                <th>Name</th>
                <th>Supplier</th>
                <th>Grade</th>
                <th>Thickness</th>
                <th>Gapped permeability</th>
                <th>Actions</th>
            </tr>
            {% if steel_list %}
            {% for steel in steel_list %}
            <tr>
                <td>{{ steel.name }}</td>
                <td>{{ steel.supplier }}</td>
                <td>{{ steel.grade }}</td>
                <td>{{ steel.thickness }}</td>
                <td>{{ steel.gapped_permeability }}</td>
                <td>
                    <a href="edit/{{ steel.id }}">Edit</a>
                    <a href="delete/{{ steel.id }}"> Delete</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </body>
</html>